*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* navbar section */
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* gap: 20px; */
}
.linear{
    color: #FF42A5;
}
.logo h1{
    margin-left: 20px;
}
.menu{
 display: flex;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.menu ul li a{
    text-decoration: none;
}
.menu-icon{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(11, 2, 35, 0.1);
    border-radius: 5px;
    gap: 20px;
} 
.color-red{
    color: red;
}


/* banner section */

.banner-section{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 0 220px;
    /* margin: 0 auto; */
    /* background-color: aquamarine; */
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    height: 80vh;    
}

.banner-img{
    width: 50%;
    /* padding-right: 100px; */
    
}
.banner-img img{
    width: 100%;
}
.banner-text{
    width: 50%;
    /* padding-left: 100px; */
    text-align: left;
}
.banner-text h2{
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-text h1{
    font-size: 3.35rem;
    margin-bottom: 30px;
}

.banner-text-icon{
    display: flex;
    margin-bottom: 5px;
}
.banner-text-icon p{
    margin-left: 20px;
    margin-top: 0;
    padding-bottom: 0;
}

.btn-primary{
    padding: 15px 25px;
    background-color: #FF42A5;
    color: white;
    border: none;
    border-radius: 30px;   
}

.btn-skyblue{
    margin-left: 20px;
    background: #4EC5F7;
}
button a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.btn-option{
    margin-top: 30px;
}

.title-decoration{
    background: -webkit-linear-gradient(rgba(249, 72, 178, 1), rgba(135, 88, 241, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-dectoration-2{
    font-size: 1.75rem;
    font-weight: 800;
    
}
/* we-are-gamer */

.we-are-gamer{
    display: flex;
    /* margin: 0 auto; */
    background-color: #fff9fc;
    padding: 100px 200px;
    align-items: center;
}
.we-are-gamer-img{
    width: 60%;
}
.we-are-gamer-text{
    width: 40%;
    text-align: right;
    line-height: 1.5;
}

.we-are-gamer-img img{
    width: 100%;
}

.we-are-gamer-text h2, p, h4, button{
    margin-bottom: 30px;
}


/* online game section */

.online-game-section{
    margin: 150px;
    text-align: center;
}
.online-game-section h2, p{
    margin: 25px 0;
}
.online-game-section h2{
    font-size: 1.75rem;
}
.online-game-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
}
.online-game-card img{
    width: 100%;
    
}
.card{
    text-align: left;
    position: relative;
}
.content{
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    opacity: 0;
    transition: 0.6s;
    flex-direction: column;
    
}
.content i{
    font-size: 2.5rem;
    color: red;
}
.content h2{
    color: white;
}
.content:hover{
    opacity: 1;
}


/* play-instantly-section */

.play-instantly-section{
    display: flex;
    margin: 0 200px;
    align-items: center;
    margin-bottom: 200px;
}
.play-instantly-text{
    width: 40%;
    text-align: right;    
}
.play-instantly-text h2{
    font-size: 1.75rem;
}
.play-instantly-text p{
    padding-left: 100px;
    line-height: 1.5;
}
.play-instantly-img{
    width: 60%;
    position: relative;
}
.play-instantly-img img{
    width: 80%;
    padding-left: 150px;
}
.corner-img{
    position: absolute;
    width: 200px;
    border: 3px solid white;
    left: -80px;
    top: 400px;
}


/* Play Game Online */
.play-game-online-section{
    display: flex;
    margin: 0 200px;
    align-items: center;
    margin-bottom: 200px;
}
.play-game-online-img{
    width: 60%;
    position: relative;
}
.play-game-online-img img{
    width: 80%;
}
.corner2-img{
    position: absolute;
    width: 200px;
    border: 3px solid white;
    right: 0px;
    top: 350px;
}
.play-game-online-text{
    width: 40%;
}
.play-game-online-text h2{
    font-size: 1.75rem;
    padding-right: 150px;
}
.play-game-online-text p{
    padding-right: 80px;
    line-height: 1.5;
}

/* various-games */
.various-games{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
    padding: 10px;
}

.various-games-section{
    margin: 50px 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.various-games:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
    
}
/* footer section */

.footer-section{
    background-color: #0B0223;
    color: white;
    margin: 0 auto;
    padding: 50px 0;
    /* display: flex;
    justify-content: center; */

}

.services ul{
    display: flex;
    margin: 20px 0;
}
.services li{
    list-style: none;
    margin: 0 20px;
}
.services li a{
    text-decoration: none;
    color: white;
    margin: 20px auto;
}

.center{
    display: flex;
    justify-content: center;
}
.services i{
    font-size: 2rem;
}
.small ul li, p{
    font-size: 0.75rem;
    font-weight: 200;
}
@media screen and (max-width:576px) {
    header{
        display: flex;        
    }
    .navbar  {
        flex-direction: column;
        margin: 20px auto;
        width: 100%;
    }
    .menu{
        margin: 20px auto;
    }
    .menu>ul{
        flex-direction: column;
    }
    
    .logo{
        justify-content: center;
    }
    .banner-section{
        flex-direction: column-reverse;
        background-image: none;
        padding: 50px 10px;
        justify-content: center;
        margin: 100px 10%;
    }
    .banner-text{
        width: 100%;
        margin: 10px 20px;
        padding: 20px 10px 20px 50px;
        /* text-align: center; */
        background-image: url(../images/Group\ 14.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 80vh;          
    }
    .banner-img{
        width: 100%;        
    }
    .we-are-gamer{
        flex-direction: column;
        padding: 100px 10px;
        background-color: white;
    }
    .we-are-gamer-img{
        width: 100%;
    }
    .we-are-gamer-text{
        width: 80%;
        text-align: center;
    }
    .online-game-section{
        margin: 20px 40px;
        text-align: center;
    }
    .online-game-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .content{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        opacity: 0;
        transition: 0.6s;
        flex-direction: column;
    }
    .content i{
        font-size: 2.5rem;
        color: red;
    }
    .content h2{
        color: white;
    }
    .content:hover{
        opacity: 1;
    }

    .play-instantly-section{
        flex-direction: column;
        margin: 0 20px;
    }
    .play-instantly-text{
        width: 100%;
        text-align: center;    
    }
    .play-instantly-text p{
        padding: 20px 50px;
    }
    .play-instantly-img{
        width: 100%;
        position: relative;
        
    }
    .play-instantly-img img{
        width: 70%;
        padding-left: 100px;
        
    }
    .corner-img{
        position: absolute;
        
        border: 3px solid white;
        left: -80px;
        top: 150px;
    }
    .play-game-online-section{
        flex-direction: column-reverse;
        margin: 100px 20px;
        
        
    }
    .play-game-online-text{
        width: 100%;
        text-align: center;
    }
    .play-game-online-text h2{
        font-size: 1.75rem;
        padding-right: 0;
    }
    .play-game-online-text p{
        padding-right: 0;
        line-height: 1.5;
    }
    .play-game-online-img{
        width: 100%;
        position: relative;
        margin: 40px 0;
    }
    .play-game-online-img img{
        width: 75%;
    }
    .corner2-img{
        position: absolute;
        width: 200px;
        border: 3px solid white;
        right: -20px;
        top: 150px;
    }

    .various-games{
        
        align-items: center;
        gap: 10px;
        transition: 0.5s;
        padding: 10px;
    }
    
    .various-games-section{
        margin: 50px 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .various-games:hover{
        border: 1px solid #FF42A5;
        border-radius: 50px;
        color: #FF42A5;
    }
    .footer-section{
        background-color: #0B0223;
        color: white;
        margin: 0 auto;
        padding: 50px 0;
        /* display: flex;
        justify-content: center; */
    
    }
    
    .services ul{
        flex-wrap: wrap;
        margin: 20px 20px;
        justify-content: center;

    }
    .services li{
        list-style: none;
        margin: 20px 20px;
    }
    .services li a{
        text-decoration: none;
        color: white;
        margin: 20px auto;
    }
    
    .center{
        display: flex;
        justify-content: center;
    }
    .services i{
        font-size: 2rem;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .small ul li, p{
        font-size: 0.75rem;
        font-weight: 200;
    }

}